@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
  --primary-color: #000000;
  --border-animation: linear-gradient(45deg, #ffff00, #00ff00);
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}
